<mat-toolbar color="primary" class="custom-toolbar">
    <!-- Logo on the left -->
    <div class="logo-container">
      <h1 routerLink="/dashboard" >Music Collabaration App</h1>
    </div>

    <!-- Navigation links on the right -->
    <div class="navigation-links">
      <a mat-button  (click)="navigateToMyProfile()" matTooltip="My Profile"><mat-icon>person</mat-icon></a>  
      <a mat-button  (click)="navigateToMyBooks()" matTooltip="Upload Song"><mat-icon>library_music</mat-icon></a>
      <a mat-button (click)="logout()" matTooltip="logout" class="nav-button"><mat-icon>logout</mat-icon></a>
    </div>
</mat-toolbar>

