.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    height: calc(100vh - 168px);
    overflow: auto;
    background-color: white;
  }

  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  mat-chip-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  mat-chip {
    margin: 2px;
  }
  